@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    margin: 0;
    font-family: var(--font-sans);
  }

  .markdown-body h3 {
    @apply text-2xl font-black mt-6 mb-4;
  }
  .markdown-body p {
    @apply mb-4;
  }
  .markdown-body strong {
    @apply font-black;
  }
  .markdown-body hr {
    @apply border-2 border-[#4A3219]/20 my-6 rounded-full;
  }
}

